body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    background-color: black;
    border: none;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: rgb(0, 0, 0);
    aspect-ratio: auto;
    margin-top: 20px;
    color: white;
}

.container .animeInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bolder;
}

.container h3 {
    margin: 10px 0px;
}

.cards-wrapper {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(6, 1fr);
    padding: 20px;
    margin-top: 70px;
}

.headerContainer {
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgb(0, 0, 0);

    #inputElement {
        height: 30px;
        transition: all 0.3s ease;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        outline: none;
        width: 30vw;
        font-size: 150%;
        border-radius: 10px;
        border: none;
        padding: 10px;
    }

    button {
        margin-left: 20px;
        font-size: 40px;
        border-radius: 10px;
        border: none;
        transition: background-color 500ms ease;
        cursor: pointer;
    }

    button:hover{
        background-color: aqua;
    }
}